<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% available = Dir.glob("#{Rails.root}/app/views/components/*")
                  .select { |f| f.include? "_foo-" }
                  .map    { |f| f.match(/_\w+-(.+)\.html/).captures[0] } %>

<% constraint = '~> 1.1.2' %>

<%= begin
  version = Semverse::Constraint.satisfy_best([constraint], available)
  render partial: "components/foo-#{version}"
rescue Semverse::NoSolutionError => ex
  "No component satisfies the constraint #{constraint}"
end
%>

<%= render partial: 'components/bar-1.0.0' %>
