<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% available = Dir.glob("#{Rails.root}/app/views/components/*") # get all components
                  .select { |f| f.include? "_foo-" }            # of type foo
                  .map    { |f| f.match(/_\w+-(.+)\.html/).captures[0] } # list versions %>

<% constraint = '~> 1.1.2' # the desired version %>

<%= begin
  # the best version from the given available versions for the given list of constraints
  # https://github.com/berkshelf/semverse/blob/dbc663db47793180f0a81c1ab47448ff5e6479f5/lib/semverse/constraint.rb#L37-L53
  version = Semverse::Constraint.satisfy_best([constraint], available)
  render partial: "components/foo-#{version}"
rescue Semverse::NoSolutionError => ex
  "No component satisfies the constraint #{constraint}"
end
%>
